/* style cho toàn cục */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

/* format cho header */
.header{
    background-color: #F9FFF9;
    padding: 4px 48px 10px 48px;
}

.headerInf {
    color: #173F5F;
    font-weight: bolder;
    margin-top: 10px;
    padding-left: 48px;
    padding-right: 48px;
}

/* style cho thẻ span trong headerInf */
.headerInf span {
    margin-left: 20px;
}

.LOG{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.88px;
    text-transform: uppercase;
}

/* style cho thẻ link 'a'*/
a {
    color: #173F5F;
    text-decoration: none;
}

a:hover {
    opacity: 0.7; /* hỗ trợ độ trong suốt cho hình ảnh*/
}

/* style cho logo*/
.logo{
    width: 120px;
}

.icon-group{
    margin: 14px;
    margin-top: 4px;
}

.icon-group span{
    margin: 8px;
    text-transform: uppercase;
    font-size: 12px;
    color: #3D5940;
    font-weight: 700;
    letter-spacing: 1px;
}

.header .line{
    width: 100px;
    transform: rotate(90deg);
    border: 1px solid black;
}

.header .page{
    color: #000;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.sidebar{
    width: 250px;
}

.sidebar a{
    display: flex;
    align-items: center;
    font-weight: 500;
    background-color: #3D592C;
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
}

.sidebar span{
    padding: 10px;
}

#content{
    border: 1px solid black;
}

#content .id .oder{
    color: #AA0808;
    font-size: 20px; 
    font-style: normal; 
    line-height: normal; 
    letter-spacing: 2.4px;
}

#content .id .code{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: capitalize;
}
.mall{
    color: #FC0000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.36px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 10px;
}

#content .status{
    color: #C20000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

#content .product{
    width: 1200px;
    height: 220px;
    background-color: #fcfafa;
    display: flex;
    justify-content: space-around;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#content .item{
    margin-bottom: 20px;
}

#content .item .info{
    width: 1200px;
    height: 45px;
    border: 1px solid black;

    display: flex;
    justify-content: space-around;
    background-color: #e4e4e4;
    align-items: center;
}

#content .item .function{
    width: 1200px;
    height: 140px;
    background-color: #e4e4e4;
    padding-top: 20px;
    box-sizing: border-box;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#content .Book{
    display: flex;
    justify-content: left;
}

#content .Book img{
    width: 105px;
    height: 180px;
    margin: 20px 20px 0 20px;
}

#content .infoBook{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 300px;
}

#content .product .quantity{
    width: 100px;
    font-size: 28px;
    display: flex;
    align-items: center;
}

#content .product .discount{
    font-size: 28px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.charge{
    font-size: 32px;
    font-weight: 700;
    color: #d91010;
    align-items: center;
    margin-top: 85px;
}

#content .function .tonggia{
    display: flex;
    align-items: center;
}

#content .function .total{
    color: #000;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.64px;
    text-transform: capitalize;
    margin-left: 55px;
}

#content .function .button{
    float: right;
    margin: 10px 70px 0 0;
}

#content .function .rate{
    width: 90px;
    height: 40px;
    background-color: #ee440f;
    border-color: #ee440f;
}

#content .function .norbutton{
    height: 40px;
    margin-left: 20px;
    background-color: #9a9a9a;
    border-color: #9a9a9a;
}

#content .total_discount{
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    margin-right: 70px;
}

/* Format cho footer */
.footer-icon-group{
    font-size: 30px;
    color:white;
    margin: 0 21px 24px 0px;
}
.footerInf {
    font-size: 18 px;
    color:white;
    line-height: 40px;
}


/* Format cho trang login (Khoa)*/
#container { 
    display: flex; 
    justify-content: center; 
    align-items:end; 
    width: 100vw; 
    height: 40vh;
}

#container .button {
    color: #FFFFFF;
    background-color: #5A715B;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif
}

#container .input_frame {
    color: #000000;
    background-color: #D9D9D9;
}

/* format cho Register (khoa)*/
#re_container { 
    display: flex; 
    justify-content: center; 
    align-items:end; 
    width: 100vw; 
    height: 15vh;
    text-align: right; 
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

#re_container .required::after {
    content: " *";
    color: red;
}

.re_input_frame {
    color: #000000;
    background-color: #D9D9D9;
    margin-left: 50px;
}

td {
    padding: 5px;
}

#re_container_customer { 
    margin-top: 160px;
    display: flex; 
    justify-content: center; 
    align-items:center; 
    width: 100vw; 
    height: 15vh;
    text-align: right; 
    font-weight: bold;
    margin-bottom: 200px;
}

#re_container_customer .required::after {
    content: " *";
    color: red;
}
#re_container_customer .gender_label{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 59px;
}

#re_container_customer .button {
    color: #FFFFFF;
    background-color: #5A715B;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif
}
.re_title {
    margin-left: 350px; 
    font-weight: bold;
    margin-bottom: 20px;
    font-size: large;
}

#re_form-birth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 39px    
}
#re_form-birth .form-select {
    width: 86px;
    height: 34px;
    margin-left: 10px;
}

/* format cho Forgot Password (khoa)*/
#forgot_container { 
    display: flex; 
    justify-content: center; 
    align-items:end; 
    width: 100vw; 
    height: 40vh;
    margin-top: 30px;
    margin-bottom: 100px;
}

#forgot_container .button {
    color: #FFFFFF;
    background-color: #5A715B;
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif
}

#forgot_container .input_frame {
    color: #000000;
    background-color: #D9D9D9;
    margin-left: 20px;
}