
    <div class="row">
        <div class="col-3" style="padding: 0;">
            <div class="sidebar">
                <div class="box_logo d-flex align-items-center">

                    <div class="admin col-8">
                        <ul>
                            <li class="d-flex align-items-center">
                                <span style="font-size: 24px; font-weight: 500;">ADMIN</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <i class="fas fa-columns"></i>
                            <a href="Dashboard.html">DASHBOARD</a>
                        </li>
                        <li>
                            <i class="fas fa-warehouse"></i>
                            <a href="/warehouse">WAREHOUSE</a>
                        </li>
                        <li>
                            <i class="fas fa-cart-arrow-down"></i>
                            <a href="AddProduct.html">ADD PRODUCTS</a>
                        </li>
                        <li>
                            <i class="fas fa-store"></i>
                            <a href="/order">ORDERS</a>
                        </li>
                        <li style="background-color: #ffb9a4;">
                            <i class="fas fa-comment-dots"></i>
                            <a href="">CHAT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9" style="padding: 0;">
            <div class="content">
                <div class="title">
                    <span style="margin-left: 45px;">CHAT</span>
                </div>
                <div class="row" style="margin: 0;">
                    <div class="UserChatList col-3">
                        <ul>
                            <li class="UserChat d-flex jusify-content-center">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">Bóng Đồng Nai Và Những Người Bạn</p>
                                    <span class="latestTest">Khi mà chữ quá dài thì phải thế nào</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">User 1</p>
                                    <span class="latestTest">Thì tự động thêm vào 3 chấm</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">Tên dài quá cũng bị 3 chấm</p>
                                    <span class="latestTest">Ủa chị?</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">User 1</p>
                                    <span class="latestTest">Hello</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">User 1</p>
                                    <span class="latestTest">Hello</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">User 1</p>
                                    <span class="latestTest">Hello</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">User 1</p>
                                    <span class="latestTest">Hello</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">User 1</p>
                                    <span class="latestTest">Hello</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">User 1</p>
                                    <span class="latestTest">Hello</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">User 1</p>
                                    <span class="latestTest">Hello</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">User 1</p>
                                    <span class="latestTest">Hello</span>
                                </div>
                            </li>
                            <li class="UserChat d-flex">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                <div class="ChatContent">
                                    <p class="UserNameChat latestTest">User 1</p>
                                    <span class="latestTest">Hello</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="BoxChat col-8">
                        <div class="UserChatting d-flex align-items-center">
                            <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                            <p class="ChatContent UserNameChat latestTest">Bóng Đồng Nai Và Những Người Bạn</p>
                        </div>
                        <div id="Chatting">
                            <div class="d-flex align-items-start mt-1">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                    <div>
                                        <p class="Mess CustomerText">Chào bạn</p>
                                        <p class="Mess CustomerText">Bạn có phải người đăng cái tus này không ạ?</p>
                                    </div> 
                            </div>
                            <div>
                                <p class="Mess AdminText">Alo???</p>
                                <p class="Mess AdminText">Bạn nói gì ạ?</p>
                                <p class="Mess AdminText">Thử thêm cái gì dài dài coi nó có lỗi không, còn không thì thôy. hihi</p>
                            </div> 
                            <div class="d-flex align-items-start mt-1">
                                <img src="https://robohash.org/nihilplaceateos.png?size=50x50&set=set1" alt="">
                                    <div>
                                        <p class="Mess CustomerText">Chào bạn</p>
                                        <p class="Mess CustomerText">Bạn có phải người đăng cái tus này không ạ?</p>
                                    </div> 
                            </div>
                            <div>
                                <p class="Mess AdminText">Alo???</p>
                                <p class="Mess AdminText">Bạn nói gì ạ?</p>
                                <p class="Mess AdminText">Thử thêm cái gì dài dài coi nó có lỗi không, còn không thì thôy. hihi</p>
                            </div> 
                        </div>
                        
                        <div class="TypeMess d-flex align-items-center" style="margin-top: 50px;">
                            <button type="button" class="btn btn-outline-0" style="margin-right: 10px;"><i class="far fa-file"></i></button>
                            <input id="message" type="text" class="border border-dark border-end-0 rounded-end rounded-pill form-control" placeholder="Type a message" aria-describedby="button-addon2">
                            <button onclick="sendMess()" class="btn btn-outline-0" type="button" id="button-addon2"><i class="far fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function sendMess(){
        let a = document.getElementById("message");
        let b = document.getElementById("Chatting").innerHTML;
        b += `<p class="Mess AdminText">`+a.value+`</p>`
        document.getElementById("Chatting").innerHTML = b;
        a.value = "";
    }

    $('#message').keypress(function(event){
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            sendMess();
        }
    });
</script>