<div class="row">
    <div class="col-3" style="padding: 0;">
        <div class="sidebar">
            <div class="box_logo d-flex align-items-center">
                <div class="logo col-3">
                    <i class="far fa-user"
                        style="padding: 0 1em; scale: 9%; margin-bottom: 45px; margin-left: 20px;"></i>
                </div>
                <div class="admin col-8">
                    <ul>
                        <li class="d-flex align-items-center">
                            <span style="font-size: 24px; font-weight: 500;">ADMIN</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <i class="fas fa-columns"></i>
                        <a href="Dashboard.html">DASHBOARD</a>
                    </li>
                    <li style="background-color: #ffb9a4;">
                        <i class="fas fa-warehouse"></i>
                        <a href="Warehouse.html">WAREHOUSE</a>
                    </li>
                    <li>
                        <i class="fas fa-cart-arrow-down"></i>
                        <a href="AddProduct.html">ADD PRODUCTS</a>
                    </li>
                    <li>
                        <i class="fas fa-store"></i>
                        <a href="Order_management.html">ORDERS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-9" style="padding: 0;">
        <div class="content">
            <div class="title">
                <span style="margin-left: 45px;">Warehouse</span>
                <a href="AddProduct.html">+ Add new book</a>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-5 d-flex" style="padding: 20px 0 20px 50px;">
                    <input type="text" class="form-control border border-dark border-end-0" placeholder="Search"
                        aria-describedby="button-addon">
                    <button style="width: 40px;" class="btn btn-outline-secondary border border-dark border-start-0"
                        type="button" id="button-addon"><i class="fas fa-search"></i></button>
                </div>
                <div class="col-2"></div>
                <div class="col-2 d-flex align-items-center">
                    <span>Filter: </span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                            style="background-color: white; color: black; border: 0;" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Option
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Sách Content</a></li>
                            <li><a class="dropdown-item" href="#">Sách Trinh Thám</a></li>
                            <li><a class="dropdown-item" href="#">Sách Kinh Doanh</a></li>
                            <li><a class="dropdown-item" href="#">Sách Tình Yêu</a></li>
                            <li><a class="dropdown-item" href="#">Sách Người lớn</a></li>
                            <li><a class="dropdown-item" href="#">Sách Trẻ em</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center">
                    <span>Sorted: </span>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle"
                            style="background-color: white; color: black; border: 0;" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Option
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Price low to high</a></li>
                            <li><a class="dropdown-item" href="#">Price high to low</a></li>
                            <li><a class="dropdown-item" href="#">In stock low to high</a></li>
                            <li><a class="dropdown-item" href="#">In stock high to low</a></li>
                            <li><a class="dropdown-item" href="#">Name A to Z</a></li>
                            <li><a class="dropdown-item" href="#">Name Z to A</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="product row d-flex align-items-center">
                    <div class="col-5 d-flex">
                        <img src="./image/dan-ong-sao-hoa-dan-ba-sao-kim-01.png">
                        <span class="Bookname">Đàn ông sao hoả đàn bà sao kim</span>
                    </div>
                    <div class="col-2 text-center">
                        <span class="ptitle">INSTOCK</span>
                        <div class="stock">25</div>
                    </div>
                    <div class="col-3 text-center">
                        <p class="ptitle">IMPORT PRICE</p>
                        <span class="ptitle"> 40.000 VND</span>
                    </div>
                    <div class="col-2 button" style="display: flex; flex-direction: column;">
                        <button><i class="far fa-paper-plane"></i></button>
                        <button><i class="fas fa-pencil-alt"></i></button>
                        <button><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
                <div class="product row d-flex align-items-center">
                    <div class="col-5 d-flex">
                        <img src="./image/content-bạc-tỷ.jpg">
                        <span class="Bookname">Content Bạc Tỷ</span>
                    </div>
                    <div class="col-2 text-center">
                        <span class="ptitle">INSTOCK</span>
                        <div class="stock">13</div>
                    </div>
                    <div class="col-3 text-center">
                        <p class="ptitle">IMPORT PRICE</p>
                        <span class="ptitle"> 30.000 VND</span>
                    </div>
                    <div class="col-2 button" style="display: flex; flex-direction: column;">
                        <button><i class="far fa-paper-plane"></i></button>
                        <button><i class="fas fa-pencil-alt"></i></button>
                        <button><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
                <div class="product row d-flex align-items-center">
                    <div class="col-5 d-flex">
                        <img src="./image/NhaLanhDaoTuongLai.jpeg">
                        <span class="Bookname">Nhà Lãnh Đạo Tương Lai</span>
                    </div>
                    <div class="col-2 text-center">
                        <span class="ptitle">INSTOCK</span>
                        <div class="stock">15</div>
                    </div>
                    <div class="col-3 text-center">
                        <p class="ptitle">IMPORT PRICE</p>
                        <span class="ptitle"> 50.000 VND</span>
                    </div>
                    <div class="col-2 button" style="display: flex; flex-direction: column;">
                        <button><i class="far fa-paper-plane"></i></button>
                        <button><i class="fas fa-pencil-alt"></i></button>
                        <button><i class="far fa-trash-alt"></i></button>
                    </div>
                </div>
                <div class="pageInfo">
                    <span>Showing 1 - 8 results of </span>
                    <span>298</span>
                </div>
                <div class="pagebutton d-flex align-items-center">
                    <button class="page"><i class="fas fa-chevron-left"></i></button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle no-border"
                            style="background-color: white; color: black;" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Page 01
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Page 02</a></li>
                            <li><a class="dropdown-item" href="#">Page 03</a></li>
                            <li><a class="dropdown-item" href="#">Page 04</a></li>
                            <li><a class="dropdown-item" href="#">Page 05</a></li>
                        </ul>
                    </div>
                    <button class="page"><i class="fas fa-chevron-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>