<div class="footer mt-5" style="background-color: #3D592C;">
    <div class="row m-0">
        <div class="col-4" style="margin-top: 30px; margin-left: 69px;">
            <img class="logo" src="/image/logo.png" alt="logo">
            <div style="color:white; margin-top: 10px;margin-bottom: 20px;"> Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            <a href="#" class="footer-icon-group">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="footer-icon-group">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" class="footer-icon-group">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="footer-icon-group">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
        <div class="col-3" style="margin-top: 20px; margin-left: 69px;">
            <a href="#" class="footerInf">HOME</a>
            <br>
            <a href="#" class="footerInf">ABOUT US</a>
            <br>
            <a href="#" class="footerInf">BOOKS</a>
            <br>
            <a href="#" class="footerInf">NEW RELASE</a>
            <br>
            <a href="#" class="footerInf">CONTACT US</a>
            <br>
            <a href="#" class="footerInf">BLOG</a>
        </div>
        <div class="col-3" style="margin-top: 30px;">
            <span style="line-height: 72px; color: white;font-weight: bold;"> IMPORTANT LINKS</span>
            <br>
            <a href="#" class="footerInf">Privacy Policy</a>
            <br>
            <a href="#" class="footerInf">FAQs</a>
            <br>
            <a href="#" class="footerInf">Terms of Service</a>
        </div>
    </div>
  </div>