<div class="row m-0 nav-bar d-flex align-items-center">
    <div class="col-2"></div>
    <div class="col-8" style="text-align: center;">
        <a href="/">home</a>
        <span>|</span>
        <a href="/AboutUs">about us</a>
        <span>|</span>
        <a href="#">books</a>
        <span>|</span>
        <a href="#">new release</a>
        <span>|</span>
        <a href="/Us">us</a>
    </div>
    <div class="col-2"></div>
</div>