<div class="row m-0 nav-bar d-flex align-items-center">
    <div class="col-2"></div>
    <div class="col-8">
        <a href="/">home</a>
        <span>|</span>
        <a href="/about">about us</a>
        <span>|</span>
        <a href="/products/search?inputBook=">books</a>
        <span>|</span>
        <a href="/products/new_release">new release</a>
        <span>|</span>
        <a href="#">us</a>
        <span>|</span>
    </div>
    <div class="col-2"></div>
</div>