<div class="row m-0 nav-bar d-flex align-items-center">
    <div class="col-2"></div>
    <div class="col-8">
        <a href="#">home</a>
        <span>|</span>
        <a href="#">about us</a>
        <span>|</span>
        <a href="#">books</a>
        <span>|</span>
        <a href="#">new release</a>
        <span>|</span>
        <a href="#">us</a>
        <span>|</span>
        <a href="#">us</a>
    </div>
    <div class="col-2"></div>
</div>