
    <style>
        .rateStars{
            font-size: 16px;
            font-weight: 600;
        }
        .checkedStar {
            color: orange;
        }
    </style>

    <div class="d-flex">
        <img src="">
    </div>
    
