<!-- sort by -->
  <div class="row mt-4">
      <div class="offset-1 col">
          <span class="text-uppercase fw-bold ls-wide">sort by</span>
          <div class="dropdown d-inline-block ms-4">
              <button class="btn btn-secondary btn-sm dropdown-toggle bg-light text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="width: 11rem;">
                Sort by
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Latest</a></li>
                <li><a class="dropdown-item" href="#">Best Seller</a></li>
                <li><a class="dropdown-item" href="#">Most Popular</a></li>
                <li><a class="dropdown-item" href="#">Title (A to Z)</a></li>
                <li><a class="dropdown-item" href="#">Title (Z to A)</a></li>
                <li><a class="dropdown-item" href="#">Price (Low to High)</a></li>
                <li><a class="dropdown-item" href="#">Price (Low to High)</a></li>
              </ul>
            </div>
      </div>
  </div>

  <!-- Products -->
  <div class="productsContainer offset-1 ps-5 mb-5">
      <div class="row row-cols-1 row-cols-md-4 g-4">
          <div class="col me-2" style="width: 15rem;">
            <a href="">
              <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
                <img src="./image/bia-3d 1.png" class="card-img-top" alt="...">
                <div class="card-body greenTitle">
                  <div class="card-title text-capitalize fs-6 fw-bold">harry potter và chiếc cốc lửa (bản màu)</div>
                  <p class="card-text text-danger-emphasis fw-bold">248.000VND</p>
                  <p class="mt-3">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="far fa-star star"></i>
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col me-2" style="width: 15rem;">
            <a href="">
              <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
                <img src="./image/anna-toc-do.png" class="card-img-top" alt="...">
                <div class="card-body greenTitle">
                  <div class="card-title text-capitalize fs-6 fw-bold">harry potter và hòn đá phù thủy</div>
                  <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                  <p class="mt-3">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="far fa-star star"></i>
                  </p>
                </div>
              </div>
            </a>
          </div>
          <div class="col me-2" style="width: 15rem;">
            <a href="">
              <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
                <img src="./image/commerceBooks.png" class="card-img-top" alt="...">
                <div class="card-body greenTitle">
                  <div class="card-title text-capitalize fs-6 fw-bold">harry potter và bảo bối tử thần</div>
                  <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                  <p class="mt-3">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="far fa-star star"></i>
                  </p>
                </div>
              </div>
            </a> 
          </div>
          <div class="col me-2" style="width: 15rem;">
            <a href="">
              <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
                <img src="./image/engineeringBooks.png" class="card-img-top" alt="...">
                <div class="card-body greenTitle">
                  <div class="card-title text-capitalize fs-6 fw-bold">harry potter và hòn chứa bí mật</div>
                  <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                  <p class="mt-3">
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="fas fa-star star"></i>
                    <i class="far fa-star star"></i>
                  </p>
                </div>
              </div>
            </a>
          </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/bia-3d 1.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và chiếc cốc lửa (bản màu)</div>
                <p class="card-text text-danger-emphasis fw-bold">248.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/anna-toc-do.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và hòn đá phù thủy</div>
                <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/commerceBooks.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và bảo bối tử thần</div>
                <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a> 
        </div>
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/engineeringBooks.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và hòn chứa bí mật</div>
                <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>    
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/bia-3d 1.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và chiếc cốc lửa (bản màu)</div>
                <p class="card-text text-danger-emphasis fw-bold">248.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/anna-toc-do.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và hòn đá phù thủy</div>
                <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/commerceBooks.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và bảo bối tử thần</div>
                <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a> 
        </div>
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/engineeringBooks.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và hòn chứa bí mật</div>
                <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/bia-3d 1.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và chiếc cốc lửa (bản màu)</div>
                <p class="card-text text-danger-emphasis fw-bold">248.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/anna-toc-do.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và hòn đá phù thủy</div>
                <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/commerceBooks.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và bảo bối tử thần</div>
                <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col me-2" style="width: 15rem;">
          <a href="">
            <div class="card d-inline-block me-4 p-3 shadow border-0 text-center">
              <img src="./image/engineeringBooks.png" class="card-img-top" alt="...">
              <div class="card-body greenTitle">
                <div class="card-title text-capitalize fs-6 fw-bold">harry potter và hòn chứa bí mật</div>
                <p class="card-text text-danger-emphasis fw-bold">120.000VND</p>
                <p class="mt-3">
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="fas fa-star star"></i>
                  <i class="far fa-star star"></i>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
  </div>
  
  <!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>