<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorldHavenBooks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
        integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/styleT.css">
</head>

<body>
    <div class="header">
        <div class="row">
            <div class="headerInf">
                <span class="float-start "><i class="fas fa-phone"></i> +84273737373</span>
                <span class="float-end"><a href="#"><i class="fab fa-blogger-b"></i></a></span>
                <span class="float-end"><a href="#"><i class="fab fa-twitter"></i></a></span>
                <span class="float-end"><a href="#"><i class="fab fa-linkedin-in"></i></a></span>
                <span class="float-end"><a href="#"><i class="fab fa-instagram"></i></a></span>
                <span class="float-end"><a href="#"><i class="fab fa-facebook-f"></i></a></span>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <hr color="black" width="95%" size="3px" />
        </div>
        <div class="row">
            <div class="col-1" style="margin-left: 45px;">
                <img class="logo" style="float: right" src="./image/logo.png" alt="logo">
            </div>
            <div class="page col-6 d-flex align-items-center" style="padding: 0;">
                <div class="line"></div>
                <span>ABOUT US</span>
            </div>
            <div class="col-4 d-flex align-items-center" style="flex-direction: column; margin-top: 20px;">
                <span style="margin-left: 100px;">Xin chào <a href="myAccount.html"
                        style="text-decoration: underline;">Nguyễn Lê Tấn Thành</a></span>
                <span class="LOG" style="margin-left: 170px;"><a href="#">LOG OUT <i
                            class="fas fa-sign-out-alt"></i></a></span>
                <div style="align-items: center;">
                    <a href="#" class="account icon-group">
                        <i class="far fa-user-circle"></i>
                        <span>account</span>
                    </a>
                    <a href="#" class="cart icon-group">
                        <i class="fas fa-cart-plus"></i>
                        <span>cart</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row nav-bar d-flex align-items-center">
            <div style="display: flex; justify-content: center;">
                <a href="#">home</a>
                <span>|</span>
                <a href="#">about us</a>
                <span>|</span>
                <a href="#">books</a>
                <span>|</span>
                <a href="#">new release</a>
                <span>|</span>
                <a href="#">us</a>
            </div>
        </div>
    </div>
    <div class="aboutUs">
        <h1 style="display: flex; justify-content: center; margin: 20px 0">Nhóm 11</h1>
        <div class="d-flex">
            <div class="col-1"></div>
            <div class="col-3>">
                <h2>Các thành viên:</h2>
                <ul class="memberName" style="list-style: number;">
                    <li><span>Lê Phương Chi</span></li>
                    <li><span>Doãn Anh Khoa</span></li>
                    <li><span>Nguyễn Chí Lương</span></li>
                    <li><span>Nguyễn Lê Tấn Thành</span></li>
                    <li><span>Trương Tấn Phong</span></li>
                </ul>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <h2>Thông tin liên hệ</h2>
                <ul class="memberEmail">
                    <li><span>Email: <a href="#">lpchi21@clc.fitus.edu.vn</a></span></li>
                    <li><span>Email: <a href="#">dakhoa21@clc.fitus.edu.vn</a></span></li>
                    <li><span>Email: <a href="#">ncluong21@clc.fitus.edu.vn</a></li>
                    <li><span>Email: <a href="#">nltthanh21@clc.fitus.edu.vn</a></li>
                    <li><span>Email: <a href="#">ttphong20@vp.fitus.edu.vn</a></li>
                </ul>
            </div>
            <div class="col-4">
                <h2>Thông tin đồ án</h2>
                <ul>
                    <li>
                        <h3>Tên đồ án: Website mua bán sách</h3>
                    </li>
                    <li>
                        <h3>Mô tả đồ án:</h3>
                        <span>Đồ án của nhóm là thực hiện một trang website phục vụ cho việc bán hàng tại một nhà sách.
                            Hết nghĩ nổi viết gì rồi, mốt có nghĩ ra gì thêm thì viết tiếp<3< /span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer" style="background-color: #5A715B;">
        <div class="row">
            <div class="col-4" style="margin-top: 30px; margin-left: 69px;">
                <img class="logo" src="./image/logo.png" alt="logo">
                <div style="color:white; margin-top: 10px;margin-bottom: 20px;"> Nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.</div>
                <a href="#" class="footer-icon-group">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#" class="footer-icon-group">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" class="footer-icon-group">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="footer-icon-group">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
            <div class="col-3" style="margin-top: 20px; margin-left: 69px;">
                <a href="#" class="footerInf">HOME</a>
                <br>
                <a href="#" class="footerInf">ABOUT US</a>
                <br>
                <a href="#" class="footerInf">BOOKS</a>
                <br>
                <a href="#" class="footerInf">NEW RELASE</a>
                <br>
                <a href="#" class="footerInf">CONTACT US</a>
                <br>
                <a href="#" class="footerInf">BLOG</a>
            </div>
            <div class="col-3" style="margin-top: 30px;">
                <span style="line-height: 72px; color: white;font-weight: bold;"> IMPORTANT LINKS</span>
                <br>
                <a href="#" class="footerInf">Privacy Policy</a>
                <br>
                <a href="#" class="footerInf">FAQs</a>
                <br>
                <a href="#" class="footerInf">Terms of Service</a>
            </div>
        </div>
    </div>
</body>

</html>