<div class="text-center" style="height: 800px; background-color: #769478;">
    <div style="height: 100px; width: 400px;"></div>
    <span style="color: white; font-size: 58px; font-family: Arial, Helvetica, sans-serif;">
        Your satisfaction is our priority
    </span>
    <br>
    <span style="color: white; font-size: 20px;">Visit the store and shop now to receive many incentives</span>
    <br>
    <a href="/"><button class="p-2 mt-4" style="border-radius: 10px; width: 200px;">SHOP NOW</button></a>
    <div style="position: absolute; right: 20px; top: 570px;">
        <button class="discount-blink" style="scale: 150%; background-color: #AA0808; padding: 10px 20px; border-radius: 10px;">
            BUY 1 GET 1 FREE
        </button>
        <img style="width: 400px;" 
        src="https://www.fahasa.com/media/flashmagazine/images/page_images/cay_cam_ngot_cua_toi/2020_12_17_16_50_30_1-390x510.jpg" alt="">
    </div>
    <div style="position: absolute; left: 150px; margin-top: 4%;">
        <img style="height: 300px;" src="https://www.fahasa.com/media/catalog/product/n/h/nha-gia-kim-b.jpg" alt="">
        <img style="height: 300px;" src="https://cdn0.fahasa.com/media/flashmagazine/images/page_images/tieng_goi_cua_hoang_da/2021_08_23_10_34_24_1-390x510.jpg" alt="">
        <br>
        <button class="p-2 mt-5 discount-blink" style="scale: 150%; font-size: 20px; background-color: #C20000; color: white; width: 150px; border-radius: 10px;">
            Discount 20%
        </button>
    </div>
</div>
<div class="d-flex align-items-center" style="background-color: #88ba8b; height: 600px;">
    <img style="height: 600px;" src="/image/door_bookstore.png" alt="">
    <div style="padding: 20px; color: white;">
        <span style="font-size: 50px;">HISTORY</span>
        <br>
        <span style="font-size: 20px;">Welcome to WordHavenBooks - a great space for cultural and intellectual passions. We are proud to be the ideal destination for book lovers, where you can explore and experience the richness of literature from different genres.
            <br>
            With a diverse collection, we offer literary classics, science books, modern novels, as well as works of art and children's books. WordHavenBooks is committed to bringing you a space to relax and explore, where knowledge meets passion.
            <br>
            Not just a regular bookstore, we are also a place to organize cultural events, seminars, and reading sessions to create opportunities for interaction between the book-loving community. We hope to become an ideal meeting place for those who want to share and enjoy their passion for every page of books.
            <br>
            Come and explore WordHavenBooks - where each book is a window to the world of knowledge and creativity!</span>
    </div>
</div>
<div class="d-flex align-items-center" style="background-color: #769478;">
    <div style="width: calc(100% - 600px); padding: 20px; color: white;">
        <span style="font-size: 50px;">LOCATION</span>
        <br>
        <span style="font-size: 20px;"> 
            Located in the city center, we are proud to be the ideal location for those who are passionate about books and reading culture. With airy space and delicate decoration, WordHavenBooks Bookstore invites you on an endless journey of discovery of knowledge and creativity.
            <br><br>
            923 N 8th St, Sheboygan, WI 53081, Hoa Kỳ
            <br>
            +84273737373
        </span>
        <br>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2881.867030704127!2d-87.71512112393746!3d43.754857945850205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8804a7998778946d%3A0x67c4b9188079cd5b!2sWordHaven%20BookHouse%2C%20LLC!5e0!3m2!1svi!2s!4v1704694585241!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="text-center mt-3">
    <span class="mt-4" style="font-size: 50px;">Collaborative publishers</span>
</div>
<div class="grid-container mt-3 ms-5">
    <div class="grid-item">
        <a href="https://www.nxbtre.com.vn/">1. Nhà Xuất Bản Trẻ</a>
    </div>
    <div class="grid-item">
        <a href="https://nxbkimdong.com.vn/">2. Nhà Xuất Bản Kim Đồng</a>
    </div>
    <div class="grid-item">
        <a href="https://newshop.vn/nha-xuat-ban/nxb-van-hoa-thong-tin-144.html">3. Nhà Xuất Bản Văn Hóa - Thông Tin</a>
    </div>  
    <div class="grid-item">
        <a href="https://nxbhoinhavan.vn/index.html">4. Nhà Xuất Bản Hội Nhà Văn</a>
    </div>
    <div class="grid-item">
        <a href="https://nxbhcm.com.vn/sach-nong-nghiep-14">5. Nhà Xuất Bản Nông Nghiệp</a>
    </div>
    <div class="grid-item">
        <a href="https://www.nxbgd.vn/">6. Nhà Xuất Bản Giáo Dục</a>
    </div>  
    <div class="grid-item">
        <a href="https://nxbdanang.vn/">7. Nhà Xuất Bản Đà Nẵng</a>
    </div> 
</div>