<div class="aboutUs">
    <h1 style="display: flex; justify-content: center; margin: 20px 0">Nhóm 11</h1>
    <div class="d-flex">
        <div class="col-1"></div>
        <div class="col-3>">
            <h2>Các thành viên:</h2>
            <ul class="memberName" style="list-style: number;">
                <li><span>Lê Phương Chi</span></li>
                <li><span>Doãn Anh Khoa</span></li>
                <li><span>Nguyễn Chí Lương</span></li>
                <li><span>Nguyễn Lê Tấn Thành</span></li>
                <li><span>Trương Tấn Phong</span></li>
            </ul>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <h2>Thông tin liên hệ</h2>
            <ul class="memberEmail">
                <li><span>Email: <a href="#">lpchi21@clc.fitus.edu.vn</a></span></li>
                <li><span>Email: <a href="#">dakhoa21@clc.fitus.edu.vn</a></span></li>
                <li><span>Email: <a href="#">ncluong21@clc.fitus.edu.vn</a></li>
                <li><span>Email: <a href="#">nltthanh21@clc.fitus.edu.vn</a></li>
                <li><span>Email: <a href="#">ttphong20@vp.fitus.edu.vn</a></li>
            </ul>
        </div>
        <div class="col-4">
            <h2>Thông tin đồ án</h2>
            <ul>
                <li>
                    <h3>Tên đồ án: Website mua bán sách</h3>
                </li>
                <li>
                    <h3>Mô tả đồ án:</h3>
                    <span>Đồ án của nhóm là thực hiện một trang website phục vụ cho việc bán hàng tại một nhà sách. Hết
                        nghĩ nổi viết gì rồi, mốt có nghĩ ra gì thêm thì viết tiếp</span>
                </li>
            </ul>
        </div>
    </div>
</div>
