<div class="row m-0">
  <div class="col-2 ps-0">
    <div class="account-side-bar">
      <ul>
        <li class="mb-1">
          <a href="#" style="color: #fff;font-size: 18px;">
            <i class="fas fa-user-circle" style="width: 20px;height: 20px;"></i>
            <span style="padding: 0 1em; text-align: justify;">MY ACCOUNT</span>
          </a>
        </li>
        <li class="mb-1">
          <a href="#" style="color: #fff;font-size: 18px;">
            <i class="fas fa-cart-plus" style="width: 20px;height: 20px;"></i>
            <span style="padding: 0 1em; text-align: justify;">MY PURCHASE</span>
          </a>
        </li>
        <li class="mb-1">
          <a href="#" style="color: #fff;font-size: 18px;">
            <i class="fas fa-unlock-alt" style="width: 20px;height: 20px;"></i>
            <span style="padding: 0 1em; text-align: justify; font-weight:900">MY PASSWORD</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col ps-0" style="height: 75vh; width: 100%; border: 2px solid black;margin-left: -12px;">
    <div class="container border-0" style="padding-top: 10vh;">
      <form action="" method="post">
        <div class="mb-3 row offset-1 text-end" style="margin-left: 20%;">
          <label for="inputOldPassword" class="col-sm-3 col-form-label ps-5">OLD PASSWORD</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="inputOldPassword" placeholder="Enter password" required>
          </div>
        </div>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 20%;">
          <label for="inputNewPassword" class="col-sm-3 col-form-label ps-5">NEW PASSWORD</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="inputNewPassword" placeholder="Enter password" required>
          </div>
        </div>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 20%;">
          <label for="inputConfirmPassword" class="col-sm-3 col-form-label">CONFIRM PASSWORD</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="inputConfirmPassword" placeholder="Enter confirm password"
              required>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button class="btn fw-bold ps-5 pe-5" type="submit"
            style="background-color: #3D5940;color: #fff;">SAVE</button>
        </div>
      </form>
    </div>
  </div>
</div>