<div class="content">
    <div class="thanks_message">
        <p>Your order is completed.</p>
        <p>Thank you for your purchase.</p>
    </div>
    <img src="../image/thankyou.png" style="width: 150px; position: relative; left: 50%; transform: translate(-57%);">
    <div class="mx-auto">
        <a href="/"><button type="button" class="btn btn-success rounded-0"
                style="width: 250px; height: 50px; margin: 20px 0; background-color: #3D592C; position: relative; left: 50%; transform: translate(-50%);">CONTINUE
                SHOPPING</button></a>
    </div>
</div>
<script src="./javascript/mainT.js"></script>