<!-- Form to log in -->
{{#if enterUserName}}
<div class="container-fluid" style="margin-top: 1%;">
  <form action="/account/forgotpassword" method="post" id="userNameform">
    <div class="row d-flex justify-content-center">
      <img
        src="https://media.discordapp.net/attachments/1176168664987345008/1176953088456798208/loginanimi.png?ex=6570bdfb&is=655e48fb&hm=e4693ff912e14c7a1d637ed4e329351b67a4f04b6073ab6570bed2e593c74a19&=&format=webp&width=583&height=395"
        alt="" style="width: 13rem;">
    </div>
    <h1 class="d-flex justify-content-center" style="margin-left: -20px;color: #3D5940;font-weight:bolder;"> Find your
      account </h1>
    <i class="d-flex justify-content-center ps-5 mb-3">Please enter username associated with your account to change your
      password.</i>
    <div class="row offset-1 text-end" style="margin-left: 20%;">
      <label for="inputUserName" class="col-sm-3 col-form-label ps-5">USERNAME</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputUserName" name="inputUserName" placeholder="Enter username"
          required>
      </div>
    </div>
    <small id="usernameErr" class="text-danger d-flex justify-content-center"></small>
    <div class="col-12 text-center mt-4">
      <button class="btn fw-bold ps-5 pe-5" type="submit" style="background-color: #3D5940;color: #fff;">SAVE</button>
    </div>
  </form>
</div>
<script>
  $(() => {
    if ({{failure}}) {
      $('#usernameErr').html('<i>invalid username</i>');
    }
    $('#userNameform').submit(function (e) {
      // check username
      regex = /[\/\\\[\];|=,+\*\?<>]/;
      $('#usernameErr').html(regex.test($('#inputUserName').val()) ? '<i>username does not contain the following characters / \ [ ] ; | = , + * ? < ></i>' : '');

      if ($('#usernameErr').html() === '') {
        $('#userNameform').submit();
      } else {
        e.preventDefault();
      }
    });
  })
</script>
{{else}}
<div class="text-end border-0" style="margin-top: 1%;">
  <form action="/account/resetpassword" method="post" id="changePassForm">
    <div class="row offset-1 text-end" style="margin-left: 20%;">
      <label for="inputUserName" class="col-sm-3 col-form-label ps-5">USERNAME</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputUserName" name="inputUserName" value={{UserName}} disabled
          readonly>
      </div>
    </div>
    <div class="mt-3 row offset-1 text-end" style="margin-left: 20%;">
      <label for="inputNewPassword" class="col-sm-3 col-form-label ps-5">NEW PASSWORD</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" id="inputNewPassword" name="inputNewPassword"
          placeholder="Enter password" required>
      </div>
    </div>
    <small id="PwErr" class="text-danger d-flex justify-content-center"></small>
    <div class="mt-3 row offset-1 text-end" style="margin-left: 20%;">
      <label for="inputConfirmPassword" class="col-sm-3 col-form-label">CONFIRM PASSWORD</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" id="inputConfirmPassword" name="inputConfirmPassword"
          placeholder="Enter confirm password" required>
      </div>
    </div>
    <small id="confirmPwErr" class="text-danger d-flex justify-content-center"></small>
    <div class="mt-3 row offset-1 text-end" style="margin-left: 20%;">
      <label for="inputViaCode" class="col-sm-3 col-form-label">VIA CODE</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" id="inputViaCode" name="inputViaCode" placeholder="Enter code"
          required>
      </div>
      <div class="col-sm-1 d-flex text-danger" style="align-items: center;">
        <i id="countdown">00:03:00</i>
      </div>
    </div>
    <small id="confirmCode" class="text-danger d-flex justify-content-center"></small>
    <div class="mt-3 row offset-1 text-end" style="margin-left: 20%;display: none;">
      <label for="ConfirmationCode" class="col-sm-3 col-form-label">CODE</label>
      <div class="col-sm-5">
        <input style="cursor: not-allowed;" type="text" class="form-control" id="ConfirmationCode" name="ConfirmationCode" value="{{viaCode}}"
          readonly disabled>
      </div>
    </div>
    <div class="mt-3 row offset-1 text-end" style="margin-left: 10%;">
      <div class="col-sm-3 col-form-label"></div>
      <div class="col-sm-6">
        <i class="d-flex justify-content-center ps-5" style="color: #3D5940;">You need enter this
          code to set up your
          new password in 180s.</i>
      </div>
    </div>
    <div class="col-12 text-center mt-4">
      <button class="btn fw-bold ps-5 pe-5" type="submit" style="background-color: #3D5940;color: #fff;">SAVE</button>
    </div>
  </form>
</div>
<script>
  $(() => {
    function startCountdown(durationInSeconds) {
      const countdownElement = $('#countdown');
      let remainingTime = durationInSeconds;

      function updateCountdown() {
        const minutes = Math.floor(remainingTime / 60);
        const seconds = remainingTime % 60;

        const formattedTime = `00:${String(minutes).padStart(2, '0')}:${String(seconds).padStart(2, '0')}`;
        countdownElement.text(formattedTime);

        if (remainingTime <= 0) {
          clearInterval(countdownInterval);
        } else {
          remainingTime--;
        }
      }

      // Initial update
      updateCountdown();
      // Update every second
      const countdownInterval = setInterval(updateCountdown, 1000);
    }
    startCountdown(180);
    $('#ConfirmationCode').on('copy', function (e) {
      e.preventDefault();
    });

    $('#changePassForm').submit(function (e) {
      
      $('#PwErr').html(($('#inputPassword').val().length >= 8) ? '' : '<i>password must be at least 8 characters long</i>');
      //check confirmPassword
      $('#confirmPwErr').html(($('#inputNewPassword').val() != $('#inputConfirmPassword').val()) ? '<i>confirm password is incorrect</i>' : '');
      // check confirmCode
      if ($('#countdown').text() === '00:00:00') {
        $('#confirmCode').html('This code is no longer in effect');
      } else {
        $('#confirmCode').html(($('#ConfirmationCode').val() != $('#inputViaCode').val()) ? '<i>code is incorrect</i>' : '');
      }

      if ($('#confirmPwErr').html() === '' && $('#confirmCode').html() === '') {
        $('#changePassForm input[disabled]').removeAttr('disabled');
        $('#changePassForm').submit();
      } else {
        e.preventDefault();
      }
    });
  })
</script>
{{/if}}