<!-- Form to log in -->
<div class="container-fluid text-end mb-5" style="margin-top: 5%;">
  <form action="" method="post">
    <div class="mb-3 row offset-1" style="margin-left: 20%;">
      <label for="inputUserName" class="col-sm-3 col-form-label ps-5">USERNAME</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputUserName" placeholder="Enter username" required>
      </div>
    </div>
    <div class="mb-3 row offset-1" style="margin-left: 20%;">
      <label for="inputPassword" class="col-sm-3 col-form-label ps-5">PASSWORD</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="inputPassword" placeholder="Enter password" required>
      </div>
    </div>
    <div class="col-12 text-center mt-4">
      <button class="btn fw-bold ps-5 pe-5" type="submit" style="background-color: #3D5940;color: #fff;">LOG IN</button>
    </div>
  </form>
</div>
<!-- Register - Forgot password -->
<div class="row m-0">
  <div class="col-sm-4"></div>
  <div class="col-sm-3 mt-4">
    <a href="#"><u>Sign up</u></a>
  </div>
  <div class="col-sm-2 mt-4">
    <a href="#"><u>Forgot Password</u></a>
  </div>
</div>