<div class="container-fluid" style="margin-top: 5%;margin-left: 150px;">
    <form action="" method="post">
        <p style="margin-left: 150px; margin-bottom: 20px; font-size: larger;"> ACCOUNT INFORMATION </p>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 15%;">
            <label for="inputUserName" class="col-sm-3 col-form-label ps-5">USERNAME<span
                    style="color: red;">*</span></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputUserName" placeholder="Enter username" required>
            </div>
        </div>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 15%;">
            <label for="inputPassword" class="col-sm-3 col-form-label ps-5">PASSWORD<span
                    style="color: red;">*</span></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputPassword" placeholder="Enter password" required>
            </div>
        </div>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 15%;">
            <label for="inputConfirmPassword" class="col-sm-3 col-form-label">CONFIRM PASSWORD<span
                    style="color: red;">*</span></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputConfirmPassword" placeholder="Enter confirm password"
                    required>
            </div>
        </div>
        <p style="margin-left: 150px; margin-bottom: 20px; font-size: larger;"> CUSTOMER INFORMATION </p>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 15%;">
            <label for="inputName" class="col-sm-3 col-form-label ps-5">NAME<span style="color: red;">*</span></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputName" placeholder="Enter name" required>
            </div>
        </div>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 15%;">
            <label for="inputEmail" class="col-sm-3 col-form-label ps-5">EMAIL<span style="color: red;">*</span></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputEmail" placeholder="Enter email" required>
            </div>
        </div>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 15%;">
            <label for="inputNumberPhone" class="col-sm-3 col-form-label ps-5">PHONE<span
                    style="color: red;">*</span></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputNumberPhone" placeholder="Enter number" required>
            </div>
        </div>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 15%;">
            <span class="col-sm-3 col-form-label ps-5">GENDER</span>
            <div class="col" style="text-align: start;margin-top: 6px;">
                <div class="form-check form-check-inline" style="margin-right: 50px;">
                    <label for="male" class="form-check-label">Male</label>
                    <input class="form-check-input" type="radio" name="genderOptions" id="male" value="option1">
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label" for="Female">Female</label>
                    <input class="form-check-input" type="radio" name="genderOptions" id="female" value="option2">
                </div>
            </div>
        </div>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 15%;">
            <label for="dob" class="col-sm-3 col-form-label ps-5">BIRTHDAY</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" id="dob" name="dob">
            </div>
        </div>
        <div class="mb-3 row offset-1 text-end" style="margin-left: 15%;">
            <label for="inputAddress" class="col-sm-3 col-form-label ps-5">ADDRESS<span
                    style="color: red;">*</span></label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="inputAddress" placeholder="Enter address" required>
            </div>
        </div>
        <div class="col-12 text-center mt-4">
            <button class="btn fw-bold ps-5 pe-5" type="submit"
                style="background-color: #3D5940;color: #fff;">SAVE</button>
        </div>
    </form>
</div>